/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&family=Josefin+Sans:wght@400;700&display=swap');

/* Root */
:root{
    --background-color: #0B5ED7;
    --text-color: #000000;
    --error-color: #F44336;
    --success-color: #8BC34A;
    --accent-color: #2E8B57 ;
    --white--color: #FFFFFF;
    --hoover-color: #14A0DA;
}

/* Project */
.initial__heading {
    font-size: 7rem;
}

.sub__heading {
    font-size: 3rem;
}

.accent {
    color: var(--accent-color);
}

.header .footer{
    height: 7vh;
}

.mt-6{
    margin-top: 6rem;
}

.mt-10{
    margin-top: 10rem;
}

.icon {
    width: 32px;
    height: auto;
}

.w-85{
    width: 85% !important;
}

.w-35 {
    width: 35% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 { width: 15% !important}

.w-5 {
    width: 5% !important;
}
.large_screen_layout{
    display: table;
}

.small_screen_layout {
    display: none;
}

.btn-sign{
    width: 120px ;
}

.top-5 {
    top: 8%;
}

@media screen and (max-width: 576px){
    .btn-mobile {
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    #loginForm, #signupForm {
        width: 50%;
    }
}

@media screen and (min-width: 768px){
    .large--footer {
        position: fixed;
        bottom: 0;
    }
}

@media screen and (min-height: 635px){
    .large--footer {
        position: fixed;
        bottom: 0;
    }
}

@media screen and ( min-height: 800px)
{
    .large--footer-signup{
        position: fixed;
        bottom: 0;
    }
}



@media screen and (max-width: 668px){

    .large_screen_layout {
        display: none;
    }

    .small_screen_layout {
        display: block
    }

    .initial__logo{
        width: 100%;
    }

    .initial__heading {
        font-size: 4rem;
    }

    .sub__heading {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1920px) and (max-width: 2550px){
   body {
       zoom: 1.35
   }
}
@media screen and (min-width: 2551px){
   body {
       zoom: 1.8;

   }
}
